<!DOCTYPE html>
<html>
   <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" />
      <meta charset='utf-8' />
      <title>Nwitter - Twitter com NodeJS</title>
   </head>
   <body>